html, body
    width: 100%
    height: 100%
    margin: 0
    padding: 0


body
    display: flex
    justify-content: center
    align-items: center
    font-family: sans-serif


a
    text-decoration: none


.container
    text-align: center


.subtitle
    color: gray

h1
    font-size: 150px

.button
    background-color: #37a000
    border: none
    color: white
    padding: 15px 32px
    text-align: center
    text-decoration: none
    display: inline-block
    font-size: 16px

.block
    transition: .5s opacity
    font-size: 50px

.loading
    opacity: 0

